[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "HarborCLS_Library/Common/DependenciesManagement/Hypodermic"]
	path = HarborCLS_Library/Common/DependenciesManagement/Hypodermic
	url = https://github.com/ybainier/Hypodermic.git
