.vscode/
bin/
build/
lib/
Buiild/

*.out
*.iml


CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeScripts/

.vs/
*.sln
*.user
*.userprefs

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.project
*.cproject

*.log

